<div class="row">
  <div class="col-xs-12">
    <app-alert-box
      [message]="'Shoping List sent to your email, Thank you!'"
      *ngIf="isEmailSent"
      (close)="onEmailSentDialogClose()"
    ></app-alert-box>
    <form (ngSubmit)="onIngredientAdded(ingrdientForm)" #ingrdientForm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            name="name"
            ngModel
            class="form-control"
            required
          />
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            id="amount"
            name="amount"
            ngModel
            class="form-control"
            required
            min="1"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button
            class="btn btn-success"
            type="submit"
            [disabled]="!ingrdientForm.valid"
          >
            {{ editMode ? "Update" : "Add" }}
          </button>
          <button
            class="btn btn-danger"
            type="button"
            (click)="onDeleteButtonClicked()"
            *ngIf="editMode"
          >
            Delete
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onClearButtonClicked()"
            [disabled]="!ingrdientForm.valid"
          >
            Clear
          </button>
          <button
            class="btn btn-primary"
            type="button"
            (click)="onEmailMeButtonClicked()"
            [disabled]="isEmailButtonDisabled"
          >
            Email Me!
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
